// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$background: #090F14;
$element: #343436;
$innactive-el: #9C9C9C;
$button-active: #EBFF57;

