body.articles-show {
  margin:0;

  .yellow-circle, .my-own-space {
    display: none;
  }
}

.article-panel {
  position: relative;
  height: 230px;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.article-title {
  position: absolute;
  bottom: 2px; /* Alt kısımdan 10px uzaklıkta */
  left: 10px; /* Sol taraftan 10px uzaklıkta */
  color: white; /* Başlık rengini beyaz yap */
  font-size: 16px; /* Başlık boyutunu ayarlayın */
  padding: 5px;
}
.article-subtitle{
  padding-left: 40px;
  color:#9C9C9C;
  width: 80%;
}

.panel-container p a {
  bottom: 0;
  text-decoration: none; /* Alt çizgiyi kaldır */
  color: inherit; /* Varsayılan metin rengini koru */
  font-family: 'Space Mono', monospace; /* İsteğe bağlı özel font */
  font-weight: bold; /* Yazı tipi kalınlığı */
  text-align: left; /* Sola yasla */
  display: block; /* Tüm genişliği kapsaması için blok yap */
}

.article-container {
  width: 100%;
}

/* Banner - image section */
.banner {
  position: relative;
  width: 100%;
  height: 50vh; /* Ekranın üst kısmını kapsayacak şekilde */
  background-size: cover;
  background-position: center center; /* Görseli merkezle */
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%), /* Üst kısımda koyulaşma */
  linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%),
}

/* Eğer img kullanacaksanız, şu şekilde de yazabilirsiniz. Fakat, gradient burada görünür olacak */
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Görselin boyutlarını ekrana göre uyumlu hale getirir */
  position: absolute; /* Görselin alttan görünmesini sağlarız */
  top: 0;
  left: 0;
  z-index: -1; /* Görselin arka planda olmasını sağlar */
}

/* Başlık overlay */
.banner-overlay {
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.banner-overlay h1 {
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  text-align: left;
  padding-left: 6px;
}

/* Article Content */
.article-content {
  background-color: #343436; /* Arka plan rengi */
  padding: 20px;
  border-radius: 26px; /* Kenarları yuvarlatılmış */

  p {
    font-size: 0.9em;
    font-weight: lighter ;
    line-height: 1.6;
    color: #F4F4F4;
    padding-bottom: 50px;
  }
}

.exit-icon {
  border-radius: 50%;       /* Yuvarlak şekil */
  width: 48px;              /* Genişlik */
  height: 48px;             /* Yükseklik */
  position: absolute;       /* Mutlak konumlandırma */
  top: 16px;                /* Üstten mesafe */
  right: 0px;              /* Sağdan mesafe */
  display: flex;            /* Ortalamak için flex */
  align-items: center;      /* Dikey ortalama */
  justify-content: center;  /* Yatay ortalama */
  z-index: 101;             /* Katman sırası */

  img {
    width: 34px;  /* İkonun boyutu */
    height: 34px; /* İkonun yüksekliği */
    cursor: pointer; /* Tıklanabilir imleç */
  }

  a {
    text-decoration: none; /* Bağlantı alt çizgisini kaldırır */
  }
}
.star-icon {
  position: absolute;
  bottom: 40px; /* Sağ alt köşeye sabitlemek için */
  right: 40px;  /* Sağ alt köşe */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

.star-icon img {
  width: 30px;  /* Yıldız ikonunun boyutu */
  height: auto;
  cursor: pointer;
}

.star-icon:hover img {
  filter: brightness(0) invert(1); /* Hover durumunda renk değişimi *//* Hover durumunda renk değişimi */
}

.star-icon-top {
  position: absolute;
  top: 10px;
  right:10px;
  z-index:101;

  img {
    width: 20px;
  }

  :hover{
    filter: brightness(0) invert(1);
  }
}
