<h1 class="h10" style="margin-top: 150px;"><b>€392 or €3,136</b></h1>
<p class="h">How much do you pay for energy?</p><br><br>

<div id="contentCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h3 class="text-center p-3 hw">Energy costs can vary by <b>700%</b> in just one week</h3>
      <p class="text-center p-3 hw10">How much you pay changes based<br>on when you use energy</p>
    </div>
    <div class="carousel-item">
      <h3 class="text-center p-3 hw">Your energy bill depends on your daily routines</h3>
      <p class="text-center p-3 hw10">Save money by syncing with<br>low-cost hours</p>
    </div>
    <div class="carousel-item">
      <h3 class="text-center p-3 hw">Nap learns your habits & automates your home</h3>
      <p class="text-center p-3 hw10">Save energy and cut your<br>bills effortlessly</p>
    </div>
  </div>

  <!-- Carousel Controls -->
  <br><br><button class="carousel-control-prev" type="button" data-bs-target="#contentCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#contentCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



    <div><%= link_to "Begin", new_user_session_path, class: "btn-active" %></div>
