<h1 class="h" style="margin-top: 200px;">Hello, Energy Savers!</h1>
<h2 class="h">Welcome to NAP - Your Energy-Saving Companion</h2>

<div id="contentCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p class="text-center p-5">Track your energy usage effortlessly and watch your savings grow with NAP. Every small effort you make today adds up to big savings tomorrow.</p>
    </div>
    <div class="carousel-item">
      <p class="text-center  p-5">Smart devices connected? Great! Let NAP do the work while you relax. Save energy, money, and the planet, all with a single app.</p>
    </div>
    <div class="carousel-item">
      <p class="text-center  p-5">Stay informed with real-time updates and personalized recommendations tailored to your routine. NAP helps you maximize savings every step of the way!</p>
    </div>
  </div>

  <!-- Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#contentCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#contentCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



    <%= link_to "BEGIN", new_user_session_path, class: "btn-active" %>
