<p style="font-size: 18px; padding-left: 9px">ACCOUNT</p>

<div class="profile-container">
  <div>
    <%= image_tag 'gmail.svg' %>
    <%= current_user.username.capitalize %>
  </div>
  <p>Email</p>
  <p>Password</p>
</div>

<p style="font-size: 18px; padding-left: 9px">OPTIONS</p>

<div class="profile-container">
  <p>Content Language</p>
  <p>Notifications</p>
  <p>Settings</p>
</div>
