<p style="font-size: 18px; padding-left: 9px">ACCOUNT</p>

<div class="profile-container">
  <div>
    <%= image_tag 'gmail.svg' %>
    <%= current_user.username.capitalize %>
  </div>
  <p>Email</p>
  <p>Password</p>
</div>

<p style="font-size: 18px; padding-left: 9px">OPTIONS</p>

<div class="profile-container">
  <p>Content Language</p>
  <p>Notifications</p>
  <p>Settings</p>
</div>

<div>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-secondary" %>
    </li>
  <% else %>
    <li>
      <%= link_to "Login", new_user_session_path, class: "btn-secondary #{'active' if current_page?(new_user_session_path)}" %>
    </li>
  <% end %>
</div>
