.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.h {
  color: #EBFF57;
  font-family: 'Space Mono', monospace;
  text-align: center;
}

.carousel-inner p {
  color: white;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(100%);
}
