.category {
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  text-decoration: none; /* Remove the underline */
  line-height: 48px; /* Center the text vertically */
  height: 48px;
  border-radius: 28px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.category-active {
  background-color: $button-active;
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  text-decoration: none; /* Remove the underline */
  line-height: 48px; /* Center the text vertically */
  height: 48px;
  border-radius: 28px;
  border: 2px solid $button-active;

  color: black;
}
