<% @user_appliances.each do |appliance| %>
  <p><%= link_to appliance.all_appliance.model, user_appliance_path(appliance) %></p>
<% end %>

<%= link_to "Add Appliance", new_user_appliance_path, class: "btn btn-primary" %>
<br>

